/* Coolors Exported Palette - coolors.co/ffcc00-9dd9d2-3c787e-88958d-46494c */

/* HSL */
$color1: hsla(48%, 100%, 50%, 1);
$color2: hsla(173%, 44%, 73%, 1);
$color3: hsla(185%, 35%, 36%, 1);
$color4: hsla(143%, 6%, 56%, 1);
$color5: hsla(210%, 4%, 29%, 1);

/* RGB */
$color1: rgba(255, 204, 0, 1);
$color2: rgba(157, 217, 210, 1);
$color3: rgba(60, 120, 126, 1);
$color4: rgba(136, 149, 141, 1);
$color5: rgba(70, 73, 76, 1);