// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.gallery img {
    width: 250px;
    margin: 20px;
}

.imgContainer {
    float:left;
}


.searchbar {
    border: solid green 2px !important;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

