// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reviewform {
    text-align: center;
}

.card-body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}