<h1>All Reviews</h1>

<h2>
    <% @reviews.each do |review|  %>
    <%= review.restaurant.name %><br>
        Review: <%= review.content %><br>
        Rating: <%= review.stars %><br>
    <% end %>
</h2>
