<h1> <%= @review.restaurant.name %><br>
<br>
<center>
    User:<br>
    <%= @review.user.first_name + " " + @review.user.last_name%><br>
<br>Review:<br>
<%= @review.content %><br>
<br>Stars:<br>
<%= @review.stars %>
</h1></center>