<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <nav>
            <ul>
                <li> <%= link_to "Contact Page", contact_path %></li>
                <li> <%= link_to "Restaurants", restaurants_path %></li>
                <li> <%=  %> </li>
            </ul>
        </nav>
    </div>
</footer>