<!-- <div class="ui menu">
    <div class="header item">
       
    </div>
    <a class="header item">
       
    </a>
    <a class="item">
      
    </a>
    <a class="item">
      Locations
    </a>
  </div> -->

<div id="push"></div>
<header class="header navbar-fixed-top">
    <div class="container">
        <nav>
            <ul>
                <li>  <%= link_to "Home page", "#" %> </li>
                <li>  <%= link_to "Write a review" '#' %> </li>
                <li>   <%= link_to "Your profile", restaurants_path %></li>
            </ul>
        </nav>
    </div>
</header>