

<div id="push"></div>
<header class="header navbar-fixed-top">
    <div class="container">
        <nav class="ui secondary  menu">
            <%= link_to "Home page", "#", class: "item"%> 
            <%= link_to "Write a review", '#', class: "item" %> 
            <%= link_to "Your profile", restaurants_path, class: "item" %>
            <div class="right menu">
                <a class="ui item">
                  Logout
                </a>
              </div>
        </nav>
    </div>
</header>